/* Labels */
label {
    display: block;
    margin-top: 20px;
    font-size: 0.95rem;
    text-align: left;
}

/* Inputs */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    background-color: #222;
    border: 1px solid #555;
    color: #fff;
    border-radius: 6px;
    transition: border 0.3s, background-color 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #fff;
    background-color: #000;
    outline: none;
}

/* Submit button */
input[type="submit"] {
    margin-top: 25px;
    padding: 10px 20px;
    width: 100%;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

input[type="submit"]:hover {
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
}